@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    grid-gap: 6px;
    width: 26rem;
}

.mini-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-gap: 3px;
}

.square {
    margin: 0;
    cursor: pointer;
    background-color: white;
    font-size: 2.25rem;
    font-family: 'Rubik', sans-serif;
    outline: none;
    width: 2.8rem;
    height: 2.8rem;
    box-shadow: none;
    border: none;
}

#heading {
    color: black;
    /* red color: #bb0000 */
    /* blue color: #0000bb */
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    padding: 24px;
    text-align: center;
}

#ultimate {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .25rem;
}

#tictactoe {
    font-weight: light;
    font-style: italic;
}